.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.disclaimer {
  padding: 1.25em;
  background-color: #EBF2D7;
  font-size: small;
  text-align: center;
}